/node_modules
/public/hot
/public/storage
/public/.awcache/
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env

.DS_Store
*.orig
/*.log
/public/node_modules
/public/dist
/public/bower_components
